@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$pale-orange: hsl(25, 100%, 94%);
$orange: hsl(26, 100%, 55%);
$dark: hsl(218, 12%, 13%);
$font: hsl(219, 9%, 45%);
$border: hsl(220, 12%, 90%);
$units: hsl(223, 64%, 98%);
@mixin box{
    z-index: 2;
    position: absolute;
    top: 4.5rem;
    border-radius: 0.625rem;
    background: #fff;
    box-shadow: 0 1.25rem 3.125rem -1.25rem rgba(29,32,38,0.5);
}

:root{
    font-size: 14.4px;
}

*{
    box-sizing: border-box;
    outline: none;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    min-height: 100vh;
    height: 100%;
    margin: 0;
    position: relative; 
    background-color: white;
}

header{
    display: flex;
    border: none;
    border-bottom: 0.19rem solid $border;
    align-items: center;
    padding: 1.56rem 0;
    position: relative;
    margin: 0 6.375rem;
    .menu{
        display: flex;
        justify-content: center;
        margin-right: 3rem;
        cursor: pointer;
        img{
            pointer-events: none;
        }
    }
    .logo{
        margin-right: 3.44rem;
    }
    .navbar{
        display: flex;
        p{
            margin: 0 2.19rem 0 0;
            color: $font;
            pointer-events: none;
        }
    }

    .cart-and-profile-container{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        right: 0;
        width: 7rem;
        .cart-container{
            position: relative;
            img{
                width: 1.69rem;
                height: 1.5rem;
            }
            .cart-units.full{
                background-color: $orange;
                color: #fff;
                border: none;
                font-size: 0.75rem;
                font-weight: 700;
                padding: 0.06rem 0.44rem;
                border-radius: 50%;
                position: absolute;
                top: -0.5rem;
                right: -0.31rem;
            }
        }
        .cart-container:hover{
            cursor: pointer;
        }
        .profile-img{
            height: 3.125rem;
            width: 3.125rem;
            border-radius: 50%;
            overflow: none;
            // margin-left: 2.19rem;
            border: 0.06rem $orange solid;
            img{
                max-width: 100%;
            }
        }
    }
    .smallscreen-navbar{
        @include box;
        left: 0;
        width: 10.25rem; 
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cart{
        @include box; 
        right: 0;
        width: 22.5rem;
        height: 14.375rem; 
        font-size: 1rem;
        display: block;
        .cart-header{
            border-bottom: 0.06rem $border solid;
            padding: 0.625rem 1.89rem 0.94rem;
            font-weight: 700;
            height: 20%;
            color: $dark;
        }
        .cart-body{
            display: flex;
        }
        .cart-body.empty{  
            justify-content: center;
            align-items: center;
            height: 80%;
            font-weight: 700;
            color: $font;
        }
        .cart-body.full{
            flex-direction: column;
            padding: 1.56rem 1.89rem 0.94rem;
    
            .cart-content{
                display: flex;
                justify-content: space-between;
                margin-bottom:1.89rem;
                .cart-product-img{
                    background-size: cover;
                    width: 3.125rem;
                    height: 3.125rem;
                    border-radius: 0.25rem;
                }
                .product-name-price{
                    display: flex;
                    flex-direction: column;
                    font-size: 0.94rem;
                    justify-content: space-between;
                    height: 3rem;
                    p{
                        color: $font;
                        margin: 0;
                    }
                }
                #delete{
                    width: 0.89rem;
                    height: 1rem;
                    align-self: center;
                }
                #delete:hover{
                    cursor: pointer;
                }
            }
            .checkout{
                width: 100%;
                padding: 0.94rem 0;
                border-radius: 0.625rem;
                background-color: $orange;
                font-weight: 700;
                border: none;
                color: #fff;
            }
            .checkout:hover{
                background: lighten($orange, 5%);
                box-shadow: 0 0 0.94rem 0.19rem $orange;
            }
            .checkout:active{
                box-shadow: 0 0 1.25rem 0.31rem $orange;
            }
        }
    }
    .hide{
        display: none;
    }
}

.product-body{
    display: flex;
    justify-content: space-around;
    padding: 4.375rem 3.44rem 0;
    margin: 0 6.375rem;
}
.product-images{
    display: flex;
    flex-direction: column;
    width: 27.813rem;
}
.current-image{
    width: 100%;
    height: 27.813rem;
    border-radius: 0.94rem;
    background-size: cover;
    cursor: pointer;
}
.images{
    display: flex;
    justify-content: space-between;
    margin-top: 1.89rem;
    .image{
        width: 5.5rem;
        height: 5.5rem;
        border-radius: 0.625rem;
        background-size: cover;
        cursor: pointer;
    }
    .image.active{
        border: 0.16rem $orange solid; 
    }
    .overlay{
        width: 100%;
        height: 100%;
        border-radius: 0.56rem;
        background-color: hsla(230, 60%, 98%, 0.7);
    }
}

.product-info{
    margin-top: 3.125rem;
    width: 32.5rem;
    padding: 1rem;
    h1{
        text-transform: uppercase;
        color: $orange;
        letter-spacing: 0.125rem;
        font-size: 0.81rem;
        line-height: 0.81rem;
    }
    h2{
        color: $dark;
        font-size: 2.75rem;
        line-height: 3rem;
    }
    p{
        line-height: 1.625rem;
        color: $font;
        margin-bottom: 1.25rem;
    }
    .price{
        display: flex;
        align-items: center;
        margin: 0;
        height: 1.89rem;
        h3{
            color: $dark;
            font-size: 1.75rem;
            margin-right: 0.94rem;
        }
        .discount{
            background-color: $pale-orange;
            color: $orange;
            border: none;
            font-weight: 700;
            padding: 0.19rem 0.375rem;
            border-radius: 0.31rem;
        }
    }
    h4{
        margin: 0.625rem 0 1.89rem;
        text-decoration: line-through;
        color: lighten($font, 30%);
    } 

    .buttons{
        display: flex;
        justify-content: space-between;
        .units{
            background-color: $units;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 10.75rem;
            height: 3.5rem;
            border-radius: 0.625rem;
            padding: 0 0.625rem;
            img:hover{
                cursor: pointer;
            }
            img:active{
                transform: scale(0.9);
            }
        }
        .add-to-cart{
            width: 18.56rem;
            height: 3.5rem;
            border: none;
            border-radius: 0.625rem;
            color: #fff;
            background-color: $orange;
            box-shadow: 0 1.25rem 3.125rem -1.25rem $orange;
            font-weight: 700;
    
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                pointer-events: none;
                margin-right: 0.625rem;
            }
        }
        .add-to-cart:hover{
            cursor: pointer;
            background: lighten($orange, 15%);
            box-shadow: 0 1.89rem 1.89rem -1.25rem $orange;
        }
    }
}

.toast-message{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18.75rem;
    padding: 1.25rem 0;
    border-radius: 1.25rem;
    background-color: $border;
    color: $dark;
    font-weight: 700;
    position: fixed;
    right: 2%;
    bottom: 2%;
    font-size: 0.89rem;
}

.body-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.75);
    z-index: 3;
    display: flex;
    justify-content: center;

    .product-images{
        justify-content: center;
        align-items: center;
        width: 34rem;
    }
    .images{
        width: 80%;
    }
    .current-image{
        cursor: default;
        height: 34rem;
        position: relative;
        .btn{
            cursor: pointer;
            height: 3.125rem;
            width: 3.125rem;
            background-color: #fff;
            border-radius: 50%;
            position:absolute;
            top: 50%;
            border: none;
        }
        .btn:hover{
            path{
                stroke: $orange;
            }
        }
        .previous{
            left:0;
            transform: translate(-50%, -50%);
        }
        .next{
            right: 0;
            transform: translate(50%, -50%);
        }
        .button-container{
            position: absolute;
            top: -1.875rem;
            right: 0;
        }
        .close-button{
            cursor: pointer;
            background-color: transparent;
            padding: 0;
            border: none;
            position: relative;
            width: 1.89rem;
            height: 1.89rem;
        }
        .line{
            width: 1.25rem;
            height: 0.125rem;
            background-color: $orange; 
            position: absolute;
            top: 0.625rem;
            left: 0.31rem;
        }
        .line1{
            transform: rotate(-765deg) ; 
        }
        .line2{
            transform: rotate(765deg);
        }
    }
}